<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Tech Blog</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header>
    <nav class="flex">
      <p><a href="/">Home</a></p>
      <p><a href="/dashboard">Dashboard</a></p>
       {{#if logged_in}}
        <p><a href="/api/users/logout" id="logout">Logout</a></p>
        {{else}}
        <p><a href="/login">Login</a></p>
        {{/if}}
    </nav>
      {{#if dashboard}}
        <h1>Dashboard</h1>
        {{else}}
        <h1>The Tech Blog</h1>
        {{/if}}
  </header>
{{{ body }}}

</body>
<footer>
 {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</footer>

</html>